@keyframes flicker {
      0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(241, 233, 221),
      0 0 80px rgb(241, 233, 221),
      0 0 90px rgb(131, 119, 101),
      0 0 100px rgb(241, 233, 221),
      0 0 150px rgb(255, 162, 0);
      }
 20%, 24%, 55% {        
      text-shadow: none;
  } 
}

.home__wrapper {
    display: flex;
    width: 100%;
    height:100vh;
    /* min-height: 940px; */
    background-image: url(../../public/images/Banner.jpeg);
    background-size: cover;
    top: 0;
    opacity: black 0.2;
}
.todo__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    align-self: center;

}
.date__Information {
  display: flex;
  color: rgb(237, 237, 237);
  text-shadow: 0 0 4px rgb(138, 126, 126), 0 0 11px rgb(120, 106, 106), 0 0 19px #fff, 0 0 40px rgb(241, 233, 221), 0 0 80px rgb(241, 233, 221), 0 0 90px rgb(241, 233, 221), 0 0 100px rgb(127, 120, 110), 0 0 150px rgb(255, 162, 0);
  font-size: 2.3rem;
  font-weight: 800;
  margin: 0 auto;
  margin-bottom: 50px;
  height: fit-content;
  text-align: center;
  justify-content: center;
  animation: flicker 1.5s ease-in-out alternate;
}
.start__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    height: 380px;
    margin: 0 auto;
    align-self: center;
    border-radius: 2%;
    background-color: rgba(243, 238, 238, 0.8);
}
.todo_goals{
    font-weight: bolder;
    font-size: 1rem;
    color: rgba(243, 238, 238, 0.8);
}
.start__title {
    margin: 0 auto;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 20px;
}

.start__QuotesBackground {
    margin: 0 auto;
    margin-bottom: 20px;
    align-self: center;
    width: 85%;
    height: 25vh;
    font-weight: bolder;
    font-size: 1rem;
    background-image: url(../../public/images/Quote.jpeg);
    background-size: cover;
    background-color: (0, 0, 0, 0.8);
    border-radius: 2%;

}

.start__QuotesBackground::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    margin-bottom: 20px;
    align-self: center;
    width: 85%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* 어두운 레이어 색상과 반투명도 설정 */
    border-radius: 2%;
}

.start__planQuotes {
    position: absolute;
    margin: 0 auto;
    margin-bottom: 20px;
    align-self: center;
    width: 85%;
    margin-top: 40%;
    text-align: center;
    border-radius: 2%;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: under;
    z-index: 999;

}

.start__button:hover {

    background-color: rgb(157, 157, 157);
    color: #4caf50;
}

.start__button {
    background-color: rgb(182, 159, 130);
    color: white;
    border: none;
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.start__button:hover {

    background-color: white;
    color: rgb(182, 159, 130);
}
/* Todo 시작 */

.todoList__wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 600px;
    margin: 0 auto;
    align-self: center;
    border-radius: 2%;
    background-color: rgba(243, 238, 238, 0.8);
    z-index: 10000;
}
.todoList__container{
    display: block;
    width: 80%;
    height: 350px;
    margin:0 auto;
    background-color: rgb(241, 233, 221,0.7);
    border-radius: 1%;
    padding: 10px;
    overflow-y: scroll;

}
.todoList__container::-webkit-scrollbar{
     /*스크롤바 뒷 배경 없애기*/
    display: none;
    width: 0px;
  }

.todoItem{
    display: flex;
    padding: 10px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;


}
.todoItem__checkbox{

}
.todoItem__text{
    margin-left: 10px;
    color:black;
    opacity: 1;
    align-self: center;
    max-width: 300px;

}

.todoItem__detailText{

    color:black;
    opacity: 1;
    align-self: center;
    overflow: hidden;
}

.todoItem__completeText{
    margin-left: 10px;
    color:black;
    opacity: 1;
    text-decoration: line-through;
    align-self: center;
}

.todoItem__confirm{
    background-color: transparent;
    margin-left: auto;
    float: right;
    /* margin-right:10px; */
    border:none;
    font-size: 1.2rem;
    color:black;
    border-radius: 10%;
    cursor: pointer;

}
.todoItem__confirm:hover{
    color:rgb(14, 172, 167);


}
.todoItem__editing{
    background-color: transparent;
    margin-left: auto;
    float: right;
    /* margin-right:10px; */
    border:none;
    font-size: 1.2rem;
    color:black;
    border-radius: 10%;
    cursor: pointer;

}
.todoItem__editing:hover{
    color:rgb(14, 172, 35);


}
.todoItem__delete{
    background-color: transparent;
    /* margin-left: auto; */
    float: right;
    margin-right:10px;
    border:none;
    font-size: 1.2rem;
    color:black;
    border-radius: 10%;
    cursor: pointer;

}
.todoItem__delete:hover{
    color:rgb(231, 44, 44);


}
/* 나가기 버튼 */
.end__button{
    position:absolute;
    bottom: 10px;
    left: 50px;
    background-color: rgb(180, 31, 2);
    color: white;
    border: none;
    width: 80%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.end__button:hover {

    background-color: white;
    color:rgb(180, 31, 2);
}
.todo__title{
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: under;
    color: rgba(243, 238, 238, 0.8);
    margin-bottom: 20px;
}
.todo__planQuotes{
    position: absolute;
    margin: 0 auto;
    margin-bottom: 20px;
    align-self: center;
    width: 40%;
    text-align: center;
    border-radius: 2%;
    color: rgb(255, 255, 255);
    font-weight: 900;
   
    z-index: 999;
}